#!/bin/sh

source_up 

BASEDIRECTORY=$(dirname $(realpath $BASH_SOURCE))

DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"

export PYTHONPATH=$DIR/src
export BASE=$DIR

source $BASE/.venv/bin/activate
